* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(17, 24, 39);
  color: white;
}
.main {
  margin: 20px 50px;
}
.header {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  min-height: 10vh;
  column-gap: 30px;
}
.header-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 500px;
  flex-grow: 1;
  gap: 10px;
  margin: 2px 0;
}
.header-right > * {
  flex-grow: 1;
  height: 50%;
  flex-basis: 49%;
  padding: 15px;
}
button {
  background-color: transparent;
  border: 2px solid rgb(204, 204, 255);
  border-radius: 3px;
  color: white;
}
button:active {
  background-color: white;
  color: black;
}
button#add-todo-button {
  border-radius: 8px;
  width: 10vh;
  min-height: 10vh;
  background-color: transparent;
  flex-grow: 1;
  flex-shrink: 0;
}
button#add-todo-button:active {
  color: black;
  background-color: white;
}

.content {
  display: flex;
  column-gap: 20px;
}
